Language:        C
BasedOnStyle:    LLVM

AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit:     120
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentWidth:     2
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
TabWidth:        2
UseTab:          Never
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterFunction: true
  SplitEmptyRecord: true
  SplitEmptyFunction: true

